# Changelog

All notable changes will be documented in this file.

## {{ Version }}

🎉 **Initial Release**

{{ Description }}

### Features

Add features here ...

### Commands

- `{{ CommandName }} config` - Configures the CLI.
- `{{ CommandName }} --help` - Prints the helper.
- `{{ CommandName }} --version` - Prints the version.
