# CLI Wizard Configuration
# See https://gmarciani.github.io/cli-wizard/configuration.html

{% for field in _schema_fields %}
# {{ field.description }}
{% if field.type_hint %}
# Type: {{ field.type_hint }}
{% endif %}
{% set value = _values.get(field.name, field.default) %}
{% if field.name in _prompted_params %}
{{ field.name }}: {{ value | yaml_value }}
{% else %}
# Default: {{ field.default | yaml_value }}
# {{ field.name }}: {{ field.default | yaml_value }}
{% endif %}

{% endfor %}
